.App {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table-wrapper {
  width: 75vw;
}

.centered-text {
  color: #353b3b;
  text-align: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 40vw;
}